{% extends "layouts/_layoutTest.twig" %}

{% block style %}
   {{parent()}}
   <link rel="stylesheet" href="style3.css" />
{% endblock %}

{% block main %}
  {{parent()}}
  {% set title = 'Main from test2 var' %}
  {% set users = [1, 'Hugo'] %}

  <h1>{{title}}</h1>

  <ul>
    {% for user in users %}
      <li>
        <div>
          <a href="#">{{user}}</a>
        </div>
      </li>
    {% endfor %}
  </ul>
{% endblock %}
