{% extends "layouts/_layout.twig" %}

{% block page %}
    <header>
        <h1>{{ title }}</h1>
        <p>From <code>data/index.twig</code></p>
    </header>
    <p>
        {{ description }}
    </p>
{% endblock %}
