<div class="overlay"></div>

<div class="modal">
  <button class="btn-close js-btn-close" type="button">Fermer</button>
  <h2>{% block modalTitle %}{% endblock %}</h2>

  <form class="form" action="">
    <div>

    </div>
  </form>

  <div>
    <button class="btn btn--reset" type="button">Annuler</button>
    <button class="btn btn--add" type="submit">Ajouter le projet</button>
  </div>
</div>
