<nav class="nav">
  <a class="avatar" href="#">
    <img src="" alt="Accédez à votre profil" width="" height=""/>
    <span class="sr-only">Accédez à votre profil</span>
  </a>

  <ul class="nav__list">
    <li class="nav__item">
      <a class="nav__link" href="#">
        <img src="" alt="Add text later" width="" height=""/>
        <span class="sr-only">Text for screen reader</span>
      </a>
    </li>
    <li class="nav__item">
      <a class="nav__link" href="#">
        <img src="" alt="Add text later" width="" height=""/>
        <span class="sr-only">Text for screen reader</span>
      </a>
    </li>
    <li class="nav__item">
      <a class="nav__link" href="#">
        <img src="" alt="Add text later" width="" height=""/>
        <span class="sr-only">Text for screen reader</span>
      </a>
    </li>
    <li class="nav__item">
      <a class="nav__link" href="#">
        <img src="" alt="Add text later" width="" height=""/>
        <span class="sr-only">Text for screen reader</span>
      </a>
    </li>
    <li class="nav__item">
      <a class="nav__link" href="#">
        <img src="" alt="Add text later" width="" height=""/>
        <span class="sr-only">Text for screen reader</span>
      </a>
    </li>
  </ul>

  <button class="nav__link" type="button"></button>
</nav>
