// Fonts
$font-main: arial, calibri, sans-serif;
$font-secondary: "Times New Roman", georgia, sans-serif;

// Breakpoints
$width-mobile: 320px;
$width-tablet: 768px;
$width-desktop: 1024px;
$width-desktop-middle: 1246px;
$width-fullhd: 1920px;

$width-max-container-width: 1216px;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

// Colors

// Styleguide
$hover-opacity: 0.5;

$transition-func: ease-in;
$transition-time: 0.3s;
$transition-time-middle: 0.7s;
